{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block nav %}
    <div class="container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/" role="button">Book list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/add" role="button">Add book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Docs</a>
          </li>
        </ul>
    </div>
{% endblock %}

{% block content %}


<h3 align="center">Add book</h3>

<form method="POST">
  <div class="form-group">
    <div class="row">
        <div class="col">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="Title"
            />
        </div>
        <div class="col">
            <label for="author">Authors</label>
            <input
              type="text"
              class="form-control"
              id="authors"
              name="authors"
              placeholder="Authors"
            />
        </div>
        <div class="col">
                <label for="available">Available</label>
                </br>
                <input
                  type="checkbox"
                  id="available"
                  name="available"
                />
            </div>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}
